@simewu/simewu.json
[
    {
        "id": "f2a2c7c7.9dff08",
        "type": "tab",
        "label": "Flow 1",
        "in": [],
        "out": [],
        "wires": []
    },
    {
        "id": "30288f8.6e97a7",
        "type": "chat-server",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "wires": []
    },
    {
        "id": "ef32e876.7f8928",
        "type": "kikbot-listen",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 115.390625,
        "y": 90,
        "wires": [
            [
                "fbd3f295.11f1a"
            ]
        ],
        "receiveIsTyping": false,
        "receiveDeliveryReceipts": false,
        "receiveReadReceipts": false,
        "manuallySendReadReceipts": false,
        "kikbot": "52a302a2.22858c"
    },
    {
        "id": "ed2b7faa.5093",
        "type": "kikbot-reply",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 662.390625,
        "y": 92,
        "wires": [],
        "kikbot": "52a302a2.22858c"
    },
    {
        "id": "fbd3f295.11f1a",
        "type": "router",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 381.890625,
        "y": 65,
        "wires": [
            [
                "ed2b7faa.5093",
                "c10694c3.df20a8"
            ]
        ],
        "timeout": "1800",
        "userprop": "kitt._user_id",
        "sessionprop": "kitt._session_id"
    },
    {
        "id": "215b89b7.e84a66",
        "type": "chat-in",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 113.390625,
        "y": 35,
        "wires": [
            [
                "fbd3f295.11f1a"
            ]
        ],
        "server": "30288f8.6e97a7",
        "sessionField": "kitt._session_id"
    },
    {
        "id": "c10694c3.df20a8",
        "type": "chat-out",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 663.390625,
        "y": 38,
        "wires": [],
        "server": "30288f8.6e97a7"
    },
    {
        "id": "fd7c243a.451678",
        "type": "enter",
        "name": "u: Positive",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 671.8906898498535,
        "y": 239.00001525878906,
        "wires": [
            [
                "717ce77.d3a9418"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "t": "gt",
                "p": "sentiment.score",
                "v": "0"
            }
        ]
    },
    {
        "id": "717ce77.d3a9418",
        "type": "state",
        "name": "state",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 852.8906898498535,
        "y": 239.00001525878906,
        "wires": [
            []
        ],
        "func": "// update msg.kitt:\n\n// msg.kitt.??? = ???;\n\n// update msg.kitt._responses (a list):\n// members of msg.kitt._responses will be\n// randomly selected and concatenated to\n// msg.payload by the Routher.\n// msg.kitt._responses = [???];\n\n// if you need extra debug function,\n// node.log() outputs to the debug panel.\nmsg.payload = \"Your message has a good sentiment = \" + JSON.stringify(msg.sentiment, null, \"\\t\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": "{{{payload}}}"
    },
    {
        "id": "9fdf0d8c.01103",
        "type": "enter",
        "name": "u: Negative",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 667.0000953674316,
        "y": 293.0000190734863,
        "wires": [
            [
                "392d8df8.9bc352"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "t": "lt",
                "p": "sentiment.score",
                "v": "0"
            }
        ]
    },
    {
        "id": "392d8df8.9bc352",
        "type": "state",
        "name": "state",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 853.0000648498535,
        "y": 294.00001525878906,
        "wires": [
            []
        ],
        "func": "// update msg.kitt:\n\n// msg.kitt.??? = ???;\n\n// update msg.kitt._responses (a list):\n// members of msg.kitt._responses will be\n// randomly selected and concatenated to\n// msg.payload by the Routher.\n// msg.kitt._responses = [???];\n\n// if you need extra debug function,\n// node.log() outputs to the debug panel.\nmsg.payload = \"Your message has a bad sentiment = \" + JSON.stringify(msg.sentiment, null, \"\\t\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": "{{{payload}}}"
    },
    {
        "id": "bddca651.354ea8",
        "type": "http request",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 542.8907089233398,
        "y": 475.0000581741333,
        "wires": [
            [
                "14244cd.df427b3"
            ]
        ],
        "url": "{{{url}}}",
        "ret": "txt",
        "method": "GET"
    },
    {
        "id": "8471aae.b6a5158",
        "type": "enter",
        "name": "u: @ URLs",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 124,
        "y": 474,
        "wires": [
            [
                "5fbbde9.878552"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "t": "regex",
                "p": "payload",
                "v": "^\\s*@\\s*[^\\s]+",
                "case": true
            }
        ]
    },
    {
        "id": "73f4a291.33710c",
        "type": "state",
        "name": "JavaScript",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 336.0001983642578,
        "y": 360.0000915527344,
        "wires": [
            []
        ],
        "func": "//msg.sentiment = undefined;\n//msg.payload = \"msg = \" + JSON.stringify(msg, null, \"\\t\")\n\n\ntry {\n    msg.payload = eval(msg.payload);\n} catch(e) {\n    msg.payload = e.toString();\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": "Response: {{{payload}}}"
    },
    {
        "id": "57c80ff8.6ab93",
        "type": "enter",
        "name": "u: Sentience",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 132.00000381469727,
        "y": 359.00000381469727,
        "wires": [
            [
                "73f4a291.33710c"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "t": "regex",
                "p": "payload",
                "v": "^(?!(images|msg))[^@].*",
                "case": true
            }
        ]
    },
    {
        "id": "def9ec83.3dfc5",
        "type": "sentiment",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 478.0000648498535,
        "y": 275.00001525878906,
        "wires": [
            [
                "fd7c243a.451678",
                "9fdf0d8c.01103",
                "4cce7513.faf5ec"
            ]
        ]
    },
    {
        "id": "5fbbde9.878552",
        "type": "function",
        "name": "Remove @",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 309.89066314697266,
        "y": 475.00005054473877,
        "wires": [
            [
                "bddca651.354ea8"
            ]
        ],
        "func": "// if you need extra debug function,\n// node.log() outputs to the debug panel.\n// Lookup www.google.com\n//msg.payload = msg.payload.replace(/(@simewu\\s)?\\s*@\\s+/i, '')\nmsg.url = msg.payload.replace(/\\s*@\\s*/, \"\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "4cce7513.faf5ec",
        "type": "enter",
        "name": "u: Neutral",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 666.0000648498535,
        "y": 343.00001525878906,
        "wires": [
            []
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "t": "eq",
                "p": "sentiment.score",
                "v": "0"
            }
        ]
    },
    {
        "id": "f77b60b6.e217c",
        "type": "state",
        "name": "Website Stats",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 777.0001907348633,
        "y": 605.9999370574951,
        "wires": [
            [
                "5bf84c3.b451bb4"
            ]
        ],
        "func": "msg.headers = [];\nmsg.output = \"Response from \" + msg.url + \"\\n\\nmsg = \" + JSON.stringify(msg, null, \"\\t\");\nmsg.output = msg.payload.substring(0, 10000);\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": "{{{output}}}"
    },
    {
        "id": "14244cd.df427b3",
        "type": "state",
        "name": "Just Payload",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 779.0000686645508,
        "y": 475.0000114440918,
        "wires": [
            [
                "5bf84c3.b451bb4"
            ]
        ],
        "func": "msg.headers = [];\nmsg.output = msg.payload.substring(0, 10000);\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": ""
    },
    {
        "id": "e02da2e2.6dc87",
        "type": "chat-out",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1492,
        "y": 515,
        "wires": [],
        "server": "30288f8.6e97a7"
    },
    {
        "id": "97356d17.0c9cb",
        "type": "enter",
        "name": "Initialization",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 118.890625,
        "y": 164,
        "wires": [
            [
                "458a9661.86a828"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "t": "eq",
                "p": "payload",
                "v": ""
            }
        ]
    },
    {
        "id": "458a9661.86a828",
        "type": "state",
        "name": "state",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 657,
        "y": 157,
        "wires": [
            []
        ],
        "func": "msg.payload = \"Hi there, I am Simewu. Here are my functionalities:\\n\\n\\\n@simewu @ [URL]\\nGiven a website link after a \\\"@\\\", I will return the raw data from that website.\\n\\n\\\n@simewu images @ [URL]\\nI will list all the images from a website.\\n\\n\\\n@simewu [SENTENCE]\\nGiven a sentence, I will analyze it to determine if it is positively or negatively toned.\\n\\n\\\n@simewu [OTHER]\\nGiven a neutral sentence, I will send back this message in the form it is stored inside Kik.\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": "{{{payload}}}"
    },
    {
        "id": "5bf84c3.b451bb4",
        "type": "state",
        "name": "Full Payload Printer",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1097.890625,
        "y": 442,
        "wires": [
            [
                "2f0cc66.ede2e3a",
                "8d8f91e3.bbd44",
                "e02da2e2.6dc87"
            ]
        ],
        "func": "// First 2000 characters\nmsg.payload = msg.output.substring(0, 2000);\n// Leftover characters\nmsg.output = msg.output.substring(2000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": ""
    },
    {
        "id": "1eb34c33.225ce4",
        "type": "state",
        "name": "Full Payload Printer",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1200,
        "y": 384,
        "wires": [
            [
                "2f0cc66.ede2e3a",
                "826814c.d69d2e8",
                "e02da2e2.6dc87"
            ]
        ],
        "func": "// First 2000 characters\nmsg.payload = msg.output.substring(0, 2000);\n// Leftover characters\nmsg.output = msg.output.substring(2000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": "{{{_output}}}"
    },
    {
        "id": "e5655ab4.65c8e8",
        "type": "state",
        "name": "Full Payload Printer",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1235,
        "y": 326,
        "wires": [
            [
                "2f0cc66.ede2e3a",
                "703a4deb.b604d4",
                "e02da2e2.6dc87"
            ]
        ],
        "func": "// First 2000 characters\nmsg.payload = msg.output.substring(0, 2000);\n// Leftover characters\nmsg.output = msg.output.substring(2000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": "{{{_output}}}"
    },
    {
        "id": "ea028a23.bfc058",
        "type": "state",
        "name": "Full Payload Printer",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1298,
        "y": 264,
        "wires": [
            [
                "2f0cc66.ede2e3a",
                "8a03abe4.b4b2f8",
                "e02da2e2.6dc87"
            ]
        ],
        "func": "// First 2000 characters\nmsg.payload = msg.output.substring(0, 2000);\n// Leftover characters\nmsg.output = msg.output.substring(2000);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": "{{{_output}}}"
    },
    {
        "id": "2f0cc66.ede2e3a",
        "type": "kikbot-reply",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1496,
        "y": 446,
        "wires": [],
        "kikbot": "52a302a2.22858c"
    },
    {
        "id": "204627b3.2c4928",
        "type": "state",
        "name": "Full Payload Printer",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1377,
        "y": 205,
        "wires": [
            [
                "2f0cc66.ede2e3a",
                "e02da2e2.6dc87"
            ]
        ],
        "func": "// First 2000 characters\nmsg.payload = msg.output.substring(0, 2000);\n// Leftover characters\nmsg.output = undefined;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": "{{{_output}}}"
    },
    {
        "id": "8d8f91e3.bbd44",
        "type": "delay",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1007.890625,
        "y": 384,
        "wires": [
            [
                "1eb34c33.225ce4"
            ]
        ],
        "drop": false,
        "randomUnits": "seconds",
        "randomLast": "5",
        "randomFirst": "1",
        "rateUnits": "second",
        "rate": "1",
        "timeoutUnits": "seconds",
        "timeout": "2",
        "pauseType": "delay"
    },
    {
        "id": "826814c.d69d2e8",
        "type": "delay",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1045,
        "y": 326,
        "wires": [
            [
                "e5655ab4.65c8e8"
            ]
        ],
        "drop": false,
        "randomUnits": "seconds",
        "randomLast": "5",
        "randomFirst": "1",
        "rateUnits": "second",
        "rate": "1",
        "timeoutUnits": "seconds",
        "timeout": "2",
        "pauseType": "delay"
    },
    {
        "id": "703a4deb.b604d4",
        "type": "delay",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1106,
        "y": 265,
        "wires": [
            [
                "ea028a23.bfc058"
            ]
        ],
        "drop": false,
        "randomUnits": "seconds",
        "randomLast": "5",
        "randomFirst": "1",
        "rateUnits": "second",
        "rate": "1",
        "timeoutUnits": "seconds",
        "timeout": "2",
        "pauseType": "delay"
    },
    {
        "id": "8a03abe4.b4b2f8",
        "type": "delay",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1182,
        "y": 204,
        "wires": [
            [
                "204627b3.2c4928"
            ]
        ],
        "drop": false,
        "randomUnits": "seconds",
        "randomLast": "5",
        "randomFirst": "1",
        "rateUnits": "second",
        "rate": "1",
        "timeoutUnits": "seconds",
        "timeout": "2",
        "pauseType": "delay"
    },
    {
        "id": "e7ebed59.1c3d8",
        "type": "enter",
        "name": "u: @ Images",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 123.11109924316406,
        "y": 540.6805438995361,
        "wires": [
            [
                "3f540343.e22d3c"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "t": "regex",
                "p": "payload",
                "v": "^\\s*images\\s*@\\s*[^\\s]+",
                "case": true
            }
        ]
    },
    {
        "id": "3f540343.e22d3c",
        "type": "function",
        "name": "Remove @",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 306.1111145019531,
        "y": 540.6805419921875,
        "wires": [
            [
                "808a84b0.e98368"
            ]
        ],
        "func": "//msg.payload = msg.payload.replace(/(@simewu\\s)?\\s*@\\s+/i, '')\nmsg.url = msg.payload.replace(/\\s*images\\s*@\\s*/, \"\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "808a84b0.e98368",
        "type": "http request",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 544.1110572814941,
        "y": 541.6805286407471,
        "wires": [
            [
                "45ffc1f4.fc33d"
            ]
        ],
        "url": "{{{url}}}",
        "ret": "txt",
        "method": "GET"
    },
    {
        "id": "45ffc1f4.fc33d",
        "type": "state",
        "name": "Filter images",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 774.1110687255859,
        "y": 539.6805572509766,
        "wires": [
            [
                "5bf84c3.b451bb4"
            ]
        ],
        "func": "msg.headers = [];\nmatches = msg.payload.match(/[A-z0-9:/\\-\\.]+(\\.jpg|\\.png|\\.gif|\\.tif)/gi);\n//for(i in matches)\n//    if(matches[i][0] == \"/\" || matches[i].includes())\n//        matches[i] = msg.url + matches[i];\nmsg.output = matches.join(\"\\n\");\nmsg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": ""
    },
    {
        "id": "4c5a7b13.125f74",
        "type": "state",
        "name": "state",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1220.059009552002,
        "y": 530.4895439147949,
        "wires": [
            []
        ],
        "func": "msg.payload = \"The response is too large, I'm sorry.\";\nmsg.output = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": false,
        "response": ""
    },
    {
        "id": "8026bad0.803948",
        "type": "state",
        "name": "Save",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 1219.111198425293,
        "y": 608.0138339996338,
        "wires": [
            []
        ],
        "func": "msg.payload = \"The response is too large, I'm sorry.\";\nmsg.output = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "requestUserInput": false,
        "finalstate": true,
        "response": ""
    },
    {
        "id": "61d44386.7f830c",
        "type": "enter",
        "name": "u: @ Msg",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 121.0000114440918,
        "y": 605.0138626098633,
        "wires": [
            [
                "4d56b759.fb2718"
            ]
        ],
        "outputs": 1,
        "initialstate": false,
        "directlink": false,
        "rules": [
            {
                "t": "regex",
                "p": "payload",
                "v": "^\\s*msg\\s*@\\s*[^\\s]+",
                "case": true
            }
        ]
    },
    {
        "id": "4d56b759.fb2718",
        "type": "function",
        "name": "Remove @",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 304.00002670288086,
        "y": 605.0138607025146,
        "wires": [
            [
                "6e964284.baa9cc"
            ]
        ],
        "func": "//msg.payload = msg.payload.replace(/(@simewu\\s)?\\s*@\\s+/i, '')\nmsg.url = msg.payload.replace(/\\s*msg\\s*@\\s*/, \"\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0
    },
    {
        "id": "6e964284.baa9cc",
        "type": "http request",
        "name": "",
        "z": "f2a2c7c7.9dff08",
        "in": [],
        "out": [],
        "x": 541.9999694824219,
        "y": 606.0138473510742,
        "wires": [
            [
                "f77b60b6.e217c"
            ]
        ],
        "url": "{{{url}}}",
        "ret": "txt",
        "method": "GET"
    }
]